<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		
		$('.toc').makeTOCSideBar()
		
		$("tr.var").mouseover(function() {
			$(this).addClass("hover")
		})
		
		$("tr.var").mouseout(function() {
			$(this).removeClass("hover")
		})
	})
</script>
<div class="container_16">
<div class="quick_ref">
	<div class="grid_3">
		<%= render :partial => 'lib_nav', :locals => {:lib => @library} %>
		<div class="clear"></div>
		<div class="toc">
		  <h2>Table of Contents</h2>
                <div class="toc_controls">
                  <input type="checkbox" id="floating_toc" name="floating_toc" checked="checked" />
                  <label for="floating_toc">Float TOC</label>
                </div>
                  
		<% @spheres.each do |s| %>
			<div class="sphere">
			<h3><a class="scroll" href="#<%= CGI::escape(s[:name].gsub(/\//, "-")) %>"><%= s[:name] %></a></h3>
			<ul>
			<% s[:categories].each do |c| %>
				<li><a class="scroll" href="#<%= CGI::escape((s[:name] + c[:name]).gsub(/\//, "-")) %>"><%= c[:name] %></a></li>
			<% end %>
			</ul>
			</div>
		<% end %>
		</div>
		<div class="clear"></div>
		
	</div>
	<div class="grid_12">
		<h2>Quick Ref for Clojure Core</h2>
		<p>Adapted from Johannes Friestad's excellent <a href="http://faustus.webatu.com/clj-quick-ref.html">quick ref</a>.</p>
		
		<% @spheres.each do |s| %>
			<div class="sphere">
				<div class="sphere_header">
					<h3><a name="<%= CGI::escape(s[:name].gsub(/\//, "-")) %>"><%= s[:name] %></a></h3>
				</div>
			<% s[:categories].each do |c| %>
				<div class="category">
					<div class="category_header">
						<h4><a name="<%= CGI::escape((s[:name] + c[:name]).gsub(/\//, "-")) %>"><%= c[:name] %></a></h4>
						<div class="signpost">
							<%= s[:name] %>
						</div>
						<div class="clear"></div>
					</div>
					<% c[:groups].each do |g| %>
						<div class="group">
							<div class="group_header">
								<h5><%= g[:name] %></h5>
								<div class="signpost">
									<%= "#{s[:name]} &gt; #{c[:name]}"%>
								</div>
								<div class="clear"></div>
							</div>
							<ul>
							<% g[:symbols].each do |sym| %>
								<li>
									<table>
									<tr class="var">
										<td class="var">
										  <% if sym[:link] and sym[:link] != "" %>
										  <a href="/clojure_core/<%= sym[:ns]%>/<%= make_url_friendly(sym[:name])%>"><%= sym[:name]%></a>
											<% else %>
												<%= sym[:name] %>
											<% end %>
										</td>
										<td class="shortdesc"><%= Function.find(:first, :conditions => {:id => sym[:id]}, :select => 'shortdoc').shortdoc rescue "" %></td>
										<td class="examples_count"><%= Example.find(:all, :conditions => {:function_id => sym[:id]}).size %> ex.</td>
									</table>
								</li>
							<% end %>
							</ul>
						</div>
					<% end %>
				</div>
			<% end %>
			</div>
		<% end %>
	</div>
	<!-- <div class="grid_3">
			<%= render :partial => '/lib_namespaces' %>
		</div> -->
</div>
<div class="container_16">
