
<% content_for :title, " - #{@library.name} #{@library.version}" %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$(".versions_nav").click(function() {
			$(".versions_nav ul").toggle()
		})
	})
</script>

<div class="container_16">

<div class="grid_3">
	<%= render :partial => 'lib_nav', :locals => {:lib => @library} %>
	<%= render :partial => '/lib_namespaces' %>
	&nbsp;
</div>
<div class="grid_10">
	<% if not @library.current %>
	<div class="version_warning">
		You're viewing version <%= @library.version %> of <%= @library.name %>.  
		The latest stable version of <%= @library.name %> is <%= Library.current_version_of(@library).version %>.
	</div>
	<% end %>
	<div class="lib_header">
		<div class="versions_nav">
			<span>
				<%= @library.version %> 
				<% if @library.current && params[:version] %>
					permalink
				<% end %>
				<%= image_tag "arrow_down_16x16.png" %>
			</span>
			<ul>

			<% Library.versions_of(@library).each do |l| %>
				<% 
					classes = []
					if @library.version == l.version then classes << "selected" end
					if l.current then classes << "stable" end
				%>
				<li>
					<% if @library.version == l.version && l.current && !params[:version]%>
						<%= link_to l.version + " permalink", l.link_opts(false), :class => classes.join(' ') %>
					<% else %>
						<%= link_to l.version, l.link_opts, :class => classes.join(' ') %>
					<% end %>
				</li>
			<% end %>
			</ul>
		</div>
		
		<% if @library.site_url then %><p><a href="<%= @library.site_url %>"><%= @library.site_url %></a></p><% end %>
		<% if @library.description then %>
			<p><%= @library.description %></p>
			<div class="copyright_license">
				<%= @library.copyright %>

				<%= (@library.license || "See <a href='#{@library.site_url}'>#{@library.site_url}</a> for copyright and license details.")%>
			</div>
		<% end %>
	</div>
	<div class="functions_list">
		<% group_into_ns(@library.namespaces.reduce([]) {|coll, ns| coll + ns.functions}).each do |g| %>
			<h5><%= g[0] %></h5>
			<div class="functions">
			<% g[1].each do |f| %>
			<span class="function"><a href="<%= f.href %>"><%= f[:name] %></a></span>
			<% end %>
			</div>
			<div class="clear"></div>
		<% end%>
	</div>
</div>
<div class="grid_3">
	&nbsp;
</div>
</div>