<% if @ns then content_for :title, " - #{@ns.name}" end %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$(".versions_nav").click(function() {
			$(".versions_nav ul").toggle()
		})
	})
</script>
<div class="container_16">
<div class="grid_3">
	<%= render :partial => 'lib_nav', :locals => {:lib => @library} %>
	<%= render :partial => '/lib_namespaces' %>
	&nbsp;
</div>
<div class="grid_10">
	<% if not @library.current %>
	<div class="version_warning">
		You're viewing version <%= @library.version %> of <%= @ns.name %>.  
		The latest stable version of <%= @ns.name %> is <%= Library.current_version_of(@library).version %>.
	</div>
	<% end %>
	
	<div class="versions_nav">
		<span>
			<%= @ns.version %> 
			<% if @ns.library.current && params[:version] %>
				permalink
			<% end %>
			<%= image_tag "arrow_down_16x16.png" %>
		</span>
		<ul>
			
		<% Namespace.versions_of(@ns).each do |n| %>
			<% 
				classes = []
				if @ns.library.version == n.library.version then classes << "selected" end
				if n.library.current then classes << "stable" end
			%>
			<li>
				<% if @ns.library.version == n.library.version && n.library.current && !params[:version]%>
					<%= link_to n.library.version + " permalink", n.link_opts(false), :class => classes.join(' ') %>
				<% else %>
					<%= link_to n.library.version, n.link_opts, :class => classes.join(' ') %>
				<% end %>
			</li>
		<% end %>
		</ul>
	</div>
	
	<% if @ns and @ns.doc != ""%>
	<div class="doc">
		<h3>DocString</h3>
		<pre><%= @ns.doc.gsub("\n", "<br />") %></pre>
		<div class="copyright_license">
			<%= @library.copyright %>
			
			<%= (@library.license || "See <a href='#{@library.site_url}'>#{@library.site_url}</a> for copyright and license details.")%>
		</div>
	</div>
	<% end %>
	<h3>Vars in <%= params[:ns] %></h3>

	<div class="functions_list">
		<% group_into_ns(@ns.functions).each do |g| %>
			<h5><%= g[0] %></h5>
			<div class="functions">
			<% g[1].each do |f| %>
			<span class="function">
				<%= link_to f[:name], 
							:controller => 'main',
							:action => 'function',
							:lib => @library.url_friendly_name,
							:version => params[:version],
							:ns => @ns.name,
							:function => f[:url_friendly_name] %>
			</span>
			<% end %>
			</div>
			<div class="clear"></div>
		<% end%>
	</div>
</div>
<div class="grid_3">
	&nbsp;
</div>
</div>
