<script type="text/javascript" charset="utf-8">
//When clicked, element switches to input with child text selected
jQuery.fn.quickCopy = function() {
	$.each($(this), function() {
		var el = $(this)
		var oldVal = el.html()
		var input = $("<input type='text' style='width: 190px;' value='" + oldVal.replace(/'/g, "\'") + "' />")

		el.mouseover(function() {
			el.addClass("highlight")
		})

		el.mouseout(function() {
			el.removeClass("highlight")
		})

		el.click(function() {
			el.html(input)
			input.focus()
			input.select()
			input.blur(function() {
				el.html(oldVal)
			})
		})



	})

}

$(document).ready(function() {
	$('.linktext').quickCopy()
})
</script>

<div class="search_results">
	<div class="grid_11 suffix_1">
		
	
	<% if @functions.size == 0 %>
	<h3>Sorry, couldn't find any results for your search of '<%= @orig_query %>'. </h3>
	<% else %>
	<h3>Found <%= @functions.total_entries %> results for query '<%= @orig_query %>'.</h3>
	<h4>
		Showing results
		<%= @functions.current_page * @functions.per_page - @functions.per_page + 1 %>
		-
		<%= [@functions.current_page * @functions.per_page, @functions.total_entries].min %>
		<span><%= will_paginate @functions %></span>
	</h4>
	<br />
	<% @functions.each do |f| %>
	<div class="search_result">
		<h4>
			<%= link_to f.name, f.link_opts %>
			<span class="ns">
				<%= link_to f.namespace.name, :controller => 'main', :action => 'ns', :lib => f.library.url_friendly_name, :ns => f.namespace.name %>
			</span>
		</h4>
		<p class="doc"><%= f.excerpts.doc %></p>
		<span class="extra_info">
		<span class="examples_count">
			<%= f.examples.size %> example<%= (f.examples.size != 1 ? "s" : "") %>
		</span>
		-
		<span class="linktext">http://clojuredocs.org<%= f.href %></span>
		</span>
		
	</div>
	<% end %>
	<h4 style="border-top: solid #ccc 1px">
		Showing results
		<%= @functions.current_page * @functions.per_page - @functions.per_page + 1 %>
		-
		<%= [@functions.current_page * @functions.per_page, @functions.total_entries].min %>
		<span><%= will_paginate @functions %></span>
	</h4>
	<% end%>
	</div>
	<div class="grid_4">
		<div class="about_search">
			<h3>Search Options</h3>
			<p>There are several operators and modifiers you can use to improve your search results on ClojureDocs:</p>
			<h4>Wildcards</h4>
			<ul class="examples">
				<li><a href="/search?x=0&y=0&q=str*"><span class="code">str*</span></a></li>
				<li><a href="/search?x=0&y=0&q=*map"><span class="code">*map</span></a></li>
			</ul>
			
			<h4>Field Operators</h4>
			<p>
				To specify the field to search in, prefix your search query with <span class="code">@field_name</span>.
				Valid field operators are
				<span class="code">@name</span>,
				<span class="code">@ns</span>,
				<span class="code">@library</span>, and
				<span class="code">@doc</span>.
			</p>
			<ul class="examples">
				<li><a href="/search?x=0&y=0&q=map+%40library+clojure+core"><span class="code">map @library clojure core</span></a></li>
				<li><a href="/search?x=0&y=0&q=%40name+map+%40library+clojure+core"><span class="code">@name map @library clojure core</span></a></li>
			</ul>
			
			<h4>Boolean Operators</h4>
			<h5>AND</h5>
			<ul class="examples">
				<li><a href="/search?x=0&y=0&q=map+reduce"><span class="code">map reduce</span></a></li>
				<li><a href="/search?x=0&y=0&q=map+%26+reduce"><span class="code">map &amp; reduce</span></a></li>
			</ul>
			
			<h5>OR</h5>
			<ul class="examples">
				<li><a href="/search?x=0&y=0&q=map+|+reduce"><span class="code">map | reduce</span></a></li>
			</ul>
			
			<h5>NOT</h5>
			<ul class="examples">
				<li><a href="/search?x=0&y=0&q=map+!reduce"><span class="code">map !reduce</span></a></li>
			</ul>
			
			<h4>Phrase / Proximity Matching</h4>
			<ul class="examples">
				<li><a href="/search?x=0&y=0&q=&quot;predicate+function&quot;"><span class="code">&quot;predicate function&quot;</span></a></li>
				<li><a href="/search?x=0&y=0&q=&quot;predicate+function&quot;~10"><span class="code">&quot;predicate function&quot;~10</span></a></li>
			</ul>
			
			<h4>Field Start / End Modifiers</h4>
			<ul class="examples">
				<li><a href="/search?x=0&y=0&q=^string"><span class="code">^string</span></a></li>
				<li><a href="/search?x=0&y=0&q=reduce$"><span class="code">reduce$</span></a></li>
				<li><a href="/search?x=0&y=0&q=^map$"><span class="code">^map$</span></a></li>
			</ul>
			<h4>All Together Now</h4>
			<ul class="examples">
				<li><a href="/search?x=0&y=0&q=^map+%40library+&quot;clojure+core&quot;"><span class="code">^map @library "clojure core"</span></a></li>
				<li><a href="/search?x=0&y=0&q=%40doc+(recur+|+loop)"><span class="code">@doc (recur | loop)</span></a></li>
				<li><a href="/search?x=0&y=0&q=%40name+sel*+%40library+enlive"><span class="code">@name sel* @library enlive</span></a></li>
			</ul>
			
			Please see <a href="http://www.sphinxsearch.com/docs/current.html#extended-syntax">this page</a> for a full listing of search options.
		</div>
	</div>
</div>