<div>
<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		CD.Examples.init({
			editExampleFormHTML: '<%= (render :partial => '/examples/edit_example_form').gsub("\n", "")%>'
		})
	})
</script>
	<h3>
		<span class="ns"><%= link_to @function.namespace.name, :controller => "main", :action => "ns", :lib => @function.library, :ns => @function.ns %></span>/<%= @function.name %>
	</h3>
	
	<% if @function.arglists.size > 0 %>
	<div class="usage">
		<ul>
			<% @function.arglists.each do |a| %>
			<li>(<%= (@function.name + " " +  a[1..-2]).strip %>)</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
	<% if @function.doc %>
	<div class="doc">
		<a class="internal_nav scroll" href="#doc" name="doc"></a>
		<div class="content"><%= @function.doc.gsub("\n", "<br />") if @function.doc %></div>
		<div class="copyright_license">
			<%= @library.copyright %>
			
			<%= (@library.license || "See <a href='#{@library.site_url}'>#{@library.site_url}</a> for copyright and license details.")%>
		</div>
	</div>
	<% end %>
	
	<div class="examples">
		<h3>
			<a class="internal_nav scroll" href="#examples" name="examples">
				<span id="examples_count"><%= @function.examples.size %></span> <span id="examples_desc">Example<% if @function.examples.size != 1 then %>s<% end %></span>
			</a>
			<a class="top scroll" href="#top">top</a>
		</h3>
		<% if @function.examples.size == 0 %>
		<ul id="var_examples">
		</ul>
		<% else %>
		<ul id="var_examples">
		<% @function.examples.each do |e| %>
			<li>
				<%= render :partial => '/examples/example', :locals => {:e => e} %>
			</li>
		<% end %>
		</ul>
		<% end %>
		<% if current_user_session %>
		<div id="new_example" class="example">
			<% form_for :example, @example do |f| %>
			Example <span class="instructions">(markdown allowed, code in &lt;pre /&gt;)</span>
			<%= image_tag "ajax-loader.gif", :class => "ajax_loader", :width => 20, :height => 20 %>
			<div class="clear"></div>
			<%= f.text_area :body %>
			<div style="text-align: right">
				<a class="cancel" href="" style="float: left">Cancel</a>
				<!-- <input class="preview_example" type="button" value="Preview" /> -->
				<%= f.submit 'Add example'%>
			</div>
			<div class="examples_license">
				Examples submitted to clojuredocs will be licensed under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC 0</a>.
			</div>
			<input type="hidden" name="isexample" value="true" />
			<input type="hidden" name="var_id" value="<%= @function.id %>" />
			<% end %>
			<fieldset class="live_preview">
				<legend>Live Preview</legend>
				<div class="preview">
				</div>
			</fieldset>
		</div>
		<% end %>
		
		<% if current_user_session %>
			<a href="" id="add_new_example">Add an example.</a>
		<% else %>
			Log in to add / edit an example.
		<% end %>
		
	</div>
</div>
