<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$(".result_link").click(function() {
			var link = $(this)
			$.ajax({
				url: CD.ROOT_URL + link.attr("href"),
				success: function(res) {
					$("#content").html(res)
					$.each($(".result_link"), function(i, el) {
						$(el).removeClass("selected")
					})
					
					link.addClass("selected")
				}
			})
			return false
		})
		
		$(".toggle_search").click(function() {
			$(".search_form fieldset").slideToggle()
		})
		
	})
</script>
<div class="management_search">
	<div class="container_16">
		<div class="grid_4">
			<h3>Results</h3>
			<ul id="results">
				<% @results.each do |f| %>
				<li><a class="result_link" href="<%= "/management/#{params[:lib]}/function?id=#{f.id}" %>"><%= f.name %></a></li>
				<% end %>
			</ul>
		</div>
		<div class="grid_12">
			<div class="search_form">			
				<% form_tag({:action => 'search'}, {:method => 'get'}) do |f| %>
				<fieldset>
					<legend>Find in <%= params[:lib] %></legend>
					<span class="row">
						<label>From:</label>
						<%= text_field_tag :low_date, (params[:low_date] || '1 day ago') %>
					</span>
					<span class="row">
						<label>To:</label>
						<%= text_field_tag :high_date, (params[:high_date] || 'now') %>
					</span>
					<span class="row">
						Ns Regex: <%= text_field_tag :namespaces, (params[:namespaces] || '.*') %>
					</span>
					<br />
					<div class="submit">
						<%= submit_tag :Search %>
					</div>
				</fieldset>
				<div class="toggle_search">
					toggle
				</div>
				<div class="clear"></div>
				<% end %>
			</div>
			<div id="content">
			</div>
		</div>
	</div>
</div>