<% if current_user_session and login == current_user.login %>

<div class="edit_profile">
	<h3>Edit your profile.</h3>
	<% form_for :user, current_user, {:id => 'edit_profile'} do |f| %>
		<%= f.label :email %>
		<%= error_message_on current_user, :email %>
		<%= f.text_field :email, :class => 'text_field' %><br />
		<!-- <%= f.label :openid_identifier, 'OpenID URL' %>
		<%= f.text_field :openid_identifier, :class => 'text_field' %><br />
		-->
		<%= f.submit 'Update Your Profile', :class => 'submit'%>
	<% end %>
</div>
<% end %>