<div class="profile">
<div class="grid_3">
	<img class="profile_image" src="<%= grav_url_for(@user.email, 150)%>" />
</div>
<div class="grid_13">
	<div class="grid_6 alpha">
	<h2><%= @user.login %></h2>
	Joined <%= time_ago_or_time_stamp(@user.created_at) %><br />
	</div>
	<div class="grid_6 omega">
		<%= render :partial => 'edit_profile', :locals => {:login => @user.login} %>
	</div>
</div>
<div class="clear"></div>
<div class="grid_16">
	<h4>Recent Activity</h4>
	<% if @recent.size > 0 %>
		<%= render :partial => '/recently_updated', :locals => {:recently_updated => @recent } %>
	<% else %>
		No recent activity for <%= @user.login %>.
	<% end %>
</div>
</div>