<div class="example" id="example_<%= e.id %>">
	<% if not (hide_controls rescue nil) %>
	<div class="controls">
		<a class="permalink" name="example_<%= e.id %>" href="#example_<%= e.id %>">link</a>
		|
		<%= link_to 'changes', {:controller => 'examples', :action => 'view_changes', :id => e.id}, :class => 'view_changes' %>
		<% if current_user_session %>
			|
		  <a href="#" class="edit" id="edit_<%= e.id %>">
			<!-- <%= image_tag "pen_alt_fill_12x12.png", :alt => "edit", :title => "edit", :width => 12, :height => 12 %> -->
			edit
		  </a> 
			
			<% if e.belongs_to?(current_user) %>
			|
			<%= link_to 'delete', 
						{:controller => "examples", :action => "delete", :id => e.id}, 
						:id => "delete_#{e.id}",
						:class => "delete"%>
			<% end %>
		<% end %>
	</div>
	<% end %>
	<div class="clear"></div>
	<div class="content">
	<pre class="brush: clojure"><%= e.body.gsub("<pre>", "").
									 gsub("</pre>", "").gsub("<", "&lt;").gsub(">", "&gt;") %></pre>
	</div>
	<div class="hidden plain_content"><%= e.body.gsub("<", "&lt;").gsub(">", "&gt;") %></div>
	<div class="clear"></div>
</div>
