<script type="text/javascript" charset="utf-8">
	SyntaxHighlighter.all()
</script>
<h1>Changes for <span class="ns"><%= @example.function.namespace.name %>/</span><%= @example.function.name %></h1>

<% @versions.each do |v| %>
	<% if v.user_id 
	   vuser = User.find(v.user_id)%>
	<div class="version">
		<div class="info">
			<img src="<%= grav_url_for(vuser.email, 25) %>" /> 
			<%= link_to vuser.login, :controller => 'user', :action => 'profile', :login => vuser.login %>
			<%= time_ago_or_time_stamp((v.updated_at || v.created_at)) %>
		</div>
		<%= render :partial => "/examples/example", :locals => {:e => v, :hide_controls => true}%>
	</div>
	<% end %>
<% end %>