<%
#total_count = Function.find_by_sql(["select count(id) from functions where library = ?", @lib.name])[0]["count(id)"].to_i
total_count = Function.count(:all, 
							 :include => [:namespace, {:namespace => :library}],
							 :conditions => {:namespaces => {:libraries => {:name => @lib.name, :version => @lib.version}}})
							
missing_examples = Function.find(:all,
              :select=>"functions.*",
              :joins=>"LEFT OUTER JOIN examples ON functions.id = examples.function_id LEFT OUTER JOIN namespaces on functions.namespace_id = namespaces.id LEFT OUTER JOIN libraries on namespaces.library_id = libraries.id",
			  :conditions => ["examples.id is NULL and libraries.name = ? and libraries.version = ?", @lib.name, @lib.version],
			  :order => :name)

missing_examples_count = missing_examples.size
functions_with_examples_count = total_count - missing_examples_count

groups = functions_group_into_alpha(missing_examples)
%>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('.toc').makeTOCSideBar()
	})
</script>

<div class="missing_examples">
	<div class="grid_1 prefix_1 alpha">
		<ul class="toc">
			<h4>ToC</h4>
			<% groups.each do |gs| %>
			<li><a class="scroll" href="#missing_examples_<%= gs[0] %>"><%= gs[0] %></a></li>
			<% end %>
		</ul>
		&nbsp;
	</div>
	<div class="grid_5 omega">
		<div class="content">
			<h4>Missing Examples: <%= missing_examples_count %> / <%= total_count %></h4>
			<% groups.each do |gs| %>		
			<h5><a name="missing_examples_<%= gs[0] %>"><%= gs[0] %></a></h5>
			<ul>
				<% gs[1].each do |f| %>
				<li><a href="<%= f.href %>"><%= f.name %></a></li>
				<% end %>
			</ul>
			<% end %>
		</div>
	</div>
</div>