<% 
recently_updated.each do |u| 
	if u.instance_of? Comment and u.commentable_id %>

		<% func = Function.find(u.commentable_id) %>
		<div class="recent_comment">
			
			
			<!-- <%= (u.created_at == u.updated_at) ? "commented on" : "updated a comment on" %>  -->
			on
			<a href="<%= func.href %>"><span class="ns"><%= func.namespace.name %>/</span><span class="name"><%= func.name %></span></a> 
			<div class="timestamp">
				by
				<span class="user">
					<%= link_to u.user.login, :controller => 'user', :action => 'profile', :login => u.user.login %>
				</span>
			<%= time_ago_or_time_stamp(u.updated_at) %>
			</div>
		</div>	
	
	<% elsif u.instance_of? Example and u.function_id %>

		<% func = Function.find(u.function_id) %>
		<div class="recent_example">
			
			<!-- <%= (u.created_at == u.updated_at) ? "added an example to" : "updated an example on" %>  -->
			on
			<a href="<%= func.href %>"><span class="ns"><%= func.namespace.name %>/</span><span class="name"><%= func.name %></span></a>
			<br />
			<div class="timestamp">
				by
				<span class="user">
					<%= link_to u.user.login, :controller => 'user', :action => 'profile', :login => u.user.login %>
				</span>
			<%= time_ago_or_time_stamp(u.updated_at)%>
			</div>
		</div>
		
	<% elsif u.instance_of? SeeAlso %>
	
		<% func = u.from_function %>
		<div class="recent_see_also">
			on
			<a href="<%= func.href %>"><span class="ns"><%= func.namespace.name %>/</span><span class="name"><%= func.name %></span></a>
			<div class="timestamp">
				by
				<span class="user">
					<%= link_to u.user.login, :controller => 'user', :action => 'profile', :login => u.user.login %>
				</span>
				<%= time_ago_or_time_stamp(u.updated_at)%>
			</div>
		</div>
	<% end %>
<% end %>