<div class="container_16">
	<div class="grid_16">
<h2>Create a new ClojureDocs user</h2>
<p>We couldn't find a ClojureDocs account based on your OpenID provider url you entered (<%= params[:openid_identifier]%>).  If this is your first time logging into the site, please enter a nickname and email to use when adding / updating content on ClojureDocs below:</p>

<% form_for :user, @user do |f| %>
	<%= f.label :login, 'Nickname' %><br />
	<%= f.text_field :login %>
	<%= error_message_on :user, :login %><br />
	<%= f.label :email %><br />
	<%= f.text_field :email %>
	<%= error_message_on :user, :email %><br />
	<%= f.submit 'Create Account'%>
	<%= f.hidden_field :openid_identifier, :value => params[:openid_identifier] %>
<% end %>
	</div>
</div>