
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('.provider').click(function() {
		var href = $(this).attr("href")
		$('#user_session_openid_identifier').val(href)
		$('#user_session_submit').click()
		return false;
	})
})

</script>
<div class="container_16">
<div class="grid_16">
	<h2 class="section_header">Sign up or log in using OpenID</h2>
</div>
<div class="grid_10">
	<div class="choose_provider">
		<h3>Choose your provider:</h3>
		<a href="https://www.google.com/accounts/o8/id" class="provider" id="provider_google">Google</a>
		<a href="http://yahoo.com/" class="provider" id="provider_google">Yahoo</a>
		<a href="http://myopenid.com" class="provider" id="provider_myopenid">myOpenId</a>
		<h3>Or enter your OpenID url below:</h3>
		<% form_for :user_session, @user_session do |f| %>
		<%= f.label :openid_identifier, "OpenID URL"%>
		<%= f.text_field :openid_identifier %>
		<%= f.submit 'log in' %>
		<%= error_message_on :user_session, :openid_identifier %>
		<% end %>
	</div>


	<br />
	<br />
	<br />

	<h3>Migrate an existing account</h3>
	<p>If you've signed up for ClojureDocs before July 13th, 2010, you'll need to migrate your existing account to use OpenID.  Enter your old credentials below to start the process.</p>
	<% form_for :user_session, @user_session do |f| %>
	<% if flash[:migrate_error]%>
		<div class="migrate_error"><%= flash[:migrate_error]%></div>
	<% end %>
	<%= f.label :login %><br />
	<%= f.text_field :login %><br />
	<%= f.label :password %><br />
	<%= f.password_field :password %><br />
	<%= f.submit "Migrate Account" %>
	<% end %>
</div>
<div class="grid_6">
	<div class="why_account">
		<h4>Why do I need an account?</h4>
		<p>Most of the content on ClojureDocs can be accessed without ever logging in to the site. However, if you'd like to add or update comments, examples, and other content feel free to sign up.</p>
	</div>
	<div class="why_openid">
		<h4>What's OpenID?</h4>
		<p>OpenID is a technology that allows you to safely and easily log into thousands of web sites across the internet using a single set of login credentials. More information can be found at the <a href="http://openid.net">OpenID Foundation website</a>.
	</div>
	
	<div class="need_openid">
		<h4>Need an OpenID Account?</h4>
		<p>OpenID accounts are free, and available from many providers such as <a href="https://www.google.com/accounts/Login">Google</a>, <a href="https://edit.yahoo.com/registration">Yahoo</a>, and <a href="https://www.myopenid.com/">myOpenId</a>.</p>
		
		<p>For a good place to find an OpenID provider, visit the <a href="http://openid.net/get-an-openid">OpenID Foundation website</a>.
	</div>
</div>
</div>