<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ClojureDocs<%=h yield(:title) %></title>
	<meta name="description" content="Documentation and examples for Clojure." />
	<meta name="google-site-verification" content="XjzqkjEPtcgtLjhnqAvtnVSeveEccs-O_unFGGlbk4g" />
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
	<%= stylesheet_link_tag 'reset.css',
		'text.css',
		'grid.css',
		'common.css',
		'main.css',
		'shCore.css',
		'shThemeDefault.css'#,
		#:cache => 'cache-application' 
		%>
	<%= javascript_include_tag 'shCore.js', 
		'shBrushClojure.js', 
		'jquery-1.4.2.min.js',
		'jquery-ui-1.8.2.custom.min.js', 
		'jquery.form.js',
		'jquery.qtip.min.js',
		'jquery.scrollTo-1.4.2-min.js',
		'showdown.js',
		'cd.js'#,
		#:cache => 'cache-application' 
		%>

	<script type="text/javascript" charset="utf-8">
	// <![CDATA[
	
	CD.ROOT_URL = "<%= ROOT_URL %>"
	
	function setUpInternalNav() {
		$(".scroll").click(function(event){
			//prevent the default action for the click event
			event.preventDefault();

			//get the full url - like mysitecom/index.htm#home
			var full_url = this.href;

			//split the url by # and get the anchor target name - home in mysitecom/index.htm#home
			var parts = full_url.split("#");
			var trgt = parts[1];
			
			//get the top offset of the target anchor
			var target_offset = $("a[name="+trgt+"]").offset();
			var target_top = target_offset.top - 10;

			//goto that anchor by setting the body scroll top to anchor top
			$('html, body').animate({scrollTop:target_top}, 500);
		});
	}
	
	$(document).ready(function() {
		setUpInternalNav()
		var mainText = "Search";
		$("#main_search").makeFocusBlur(mainText, {setColorOnInit: true})

		var acUrl = "<%= ROOT_URL %>/ac_search";
		<% if params[:lib] %>
		//acUrl = "<%= ROOT_URL %>/ac_search/<%= CGI::escape(params[:lib]) %>";
		<% end %>
		
		$('#main_search').keydown(function(e) {
			if(e.ctrlKey && e.which == 13) {
				$(".search form").append("<input type='hidden' name='feeling_lucky' value='true' />")
			}
		})
			
		$(document).keydown(function(e) {
			if(e.ctrlKey && (e.which == 83)) {
				$('#main_search').focus()
			}
			
			e.stopPropagation();
		})
	})
	// ]]>	
	</script>

	<script type="text/javascript">
	/*** UserVoice ***/
	var uservoiceOptions = {
		/* required */
		key: 'clojuredocs',
		host: 'clojuredocs.uservoice.com', 
		forum: '64757',
		showTab: true,  
		/* optional */
		alignment: 'right',
		background_color:'#ccc', 
		text_color: 'white',
		hover_color: '#888',
		lang: 'en'
	};

	function _loadUserVoice() {
		var s = document.createElement('script');
		s.setAttribute('type', 'text/javascript');
		s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
		document.getElementsByTagName('head')[0].appendChild(s);
	}
	_loadSuper = window.onload;
	window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice();};
	</script>
	
	<script type="text/javascript">
	  /*** Google Analytics ***/
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17348828-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>
	<%= render :partial => '/layouts/header' %>
	
	
	<%= yield %>
	
	
	<div class="clear"></div>
	<div class="footer">
		ClojureDocs uses some elements of HTML5 / CSS3, and is best viewed in an up-to-date <a href="http://getfirefox.com">gecko</a> / <a href="http://www.google.com/chrome">webkit</a> -based browser.
		<br />
		<br />
		&copy; 2010 Zachary Kim <a href="http://zacharykim.com">http://zacharykim.com</a>
		<br />
		<br />
	</div>
</body>
</html>

